*{
  word-break: break-all;
}
.App {
  padding: 16px;
  padding-top: 0;
  padding-left: 0;
}

.input-section {
  width: fit-content;
  padding: 16px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  gap: 24px;
  align-items: center;
}

.section {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.params-section {
  /* border: 1px solid black; */
  padding-top: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.params-section__tabs {
  display: flex;
}

.tab {
  padding: 8px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 0 8px 8px;
  background: #dedede;
  cursor: pointer;
}

.tab_active {
  color: #ff5b2e;
}

.tab:first-child {
  border-radius: 8px 0 8px 0;
}

.tab:hover {
  background: #e9eaf1;
}

.params-section__main {
  padding-left: 16px;
}
